plugins {
    // pin the exact version so a locally-installed (unpublished) build is used
    id 'nf-gwrepo@0.1.0'
}

gwrepo {
    endpoint = 'http://localhost:80'
    institute = 'LOCAL'
    dataSizeTag = 'small'
}

trace {
    enabled = true
    file = 'pipeline_info/execution_trace.txt'
    overwrite = true
    fields = 'hash,process,name,status,exit,module,container,attempt,submit,start,complete,duration,cpus,time,disk,memory,realtime,queue,%cpu,%mem,peak_rss,peak_vmem,rchar,wchar'
}
